[2014-02-22 05:28] jbranchaud opened #1 "Landing page content?"
Opening this so we can come up with an outline of what will go on the landing page.

@cweagans already mentioned that we definitely want a link to the bountysource funding page.

[2014-02-22 05:33] cweagans opened #2 "Rename repo"
I think this repo needs to be named neovim.github.io, like this: https://github.com/atmos/atmos.github.io

@jbranchaud, thoughts?

[2014-02-22 13:33] #2 closed, assigned to nobody

[2014-02-22 21:57] cweagans opened #4 "Add Google Analytics"
I've already added the tracking code. If you'd like me to share it with you, please comment here!

[2014-02-23 00:29] jbranchaud opened #5 "License?"
Thoughts on what license we should use for the website? I am partial to MIT.

Also, who should the license be under?

[2014-02-23 00:50] jbranchaud opened #6 "Website logo?"
We need to come up with a logo, there is currently an [issue](https://github.com/neovim/neovim/issues/43) open for this over at the main neovim repo.

[2014-02-23 01:10] #4 closed, assigned to nobody

[2014-02-23 03:51] jbranchaud opened #7 "Website Design"
I have started adding a little styling to the site to make it a bit more presentable for the time being (changes still pending). I used bootstrap as a base, but I am customizing a little to hopefully give it its own look and feel... though that is still a long way off.

I have also been poking around at different sites trying to get some inspiration for the design of the site. I like some elements

[2014-02-23 19:36] retrohacker opened #12 "Create Wiki Page"
We need a wiki page for the suggested content that is making its way into our issues. It will help us organize.

[2014-02-23 19:42] #12 closed, assigned to nobody

[2014-02-23 20:01] #5 closed, assigned to nobody

[2014-02-23 20:44] jbranchaud opened #13 "Add development environment setup instructions to README"
Add a section to README that details how to setup the development environment for this website.

[2014-02-23 22:05] retrohacker opened #14 "_posts/ not working with Jekyll"
Running `jekyll serve`

[code]

my temporary fix is to move `_posts` out of the directory before running jekyll.

[2014-02-23 22:10] retrohacker opened #15 "Font Awesome Src"
Running `jekyll serve`

[code]

Temporary fix:
`rm -rf bower_components/font-awesome/src`
This could also be a permanent fix as I don't believe src isn't need for font-awesome to function. That being said, I feel like `bower install && jekyll serve` is all a user should have to do to get the site running.

[2014-02-24 06:41] commonquail opened #17 "Add Jekyll to Gemfile?"
Should we include Jekyll in the Gemfile?

[2014-02-24 10:20] runar opened #18 "Better looking website font"
I know we’re far from done with the design and that the current font might be just temporary, but it can’t hurt to discuss it.

I propose a more readable and aesthetically pleasing font than the one currently in use,  [Exo 2](http://www.google.com/fonts/specimen/Exo+2). I find it hard to read and too «robotic». Something like [Open Sans](http://www.google.com/fonts/specimen/Open+Sans) or [Source S

[2014-02-24 17:39] #15 closed, assigned to nobody

[2014-02-25 06:00] nelsonjchen opened #20 "Link the website in this repository's description."
Right now it just says "website".

[2014-02-25 08:35] #20 closed, assigned to nobody

[2014-02-25 23:55] #14 closed, assigned to nobody

[2014-02-26 00:32] #17 closed, assigned to nobody

[2014-02-27 07:41] notpratheek opened #24 "Adding docs to neovim.org"
@cweagans

Have you planned to add 'Docs' in the nav bar of the neovim.org website ?

Also @rjw57 made a [repo](https://github.com/rjw57/neovim-docs) with all the vim help files, perhaps we can upload those to the website (that is after converting it, as help files for neovim, and also to the required .html format) to create a sort of vimdoc.sourceforge.net ?

What do you say ? I'm happy to help y

[2014-02-28 23:38] jbranchaud opened #25 "Backers/Sponsors page"
The Bountysource fundraiser offers backers at the $500 and $1000 levels placement of their name and logo on the website. This is something we need to keep in mind.

Does this need to go on the front page or can we link from the front page to a sponsors page with all of this? The latter seems appropriate to me, but I have never had sponsors before, so what do I know.

[2014-02-28 23:43] #13 closed, assigned to jbranchaud

[2014-03-06 03:29] jbranchaud opened #27 "fontawesome-css isn't included as a dependency in bower.json"
Somehow forgot to include this in a past pull request. I'll fix it.

[2014-03-07 00:01] #6 closed, assigned to nobody

[2014-03-07 12:30] #27 closed, assigned to jbranchaud

[2014-03-19 21:14] #7 closed, assigned to nobody

[2014-03-19 22:10] jbranchaud opened #32 "Temporary link to fundraiser in new site"
There are 4 days remaining in the fundraiser for the Neovim project. Do we want to add a link to the [fundraiser](https://www.bountysource.com/fundraisers/539-neovim-first-iteration) to the top of the site for the next 4 days (and remove it after that)? I don't think we want to miss out on any last minute pledges that could be the result of traffic from the site.

[2014-03-19 22:32] #32 closed, assigned to nobody

[2014-03-28 12:05] jszakmeister opened #37 "Add the style guide..."
Another user was hosting the style guide, but has since took it down.  There's a copy here: https://github.com/jdavis/mahkoh.github.io

Perhaps it could/should be integrated into the site?

[2014-03-28 15:28] #37 closed, assigned to nobody

[2014-03-29 15:58] jdavis opened #39 "[RFC] More FAQs"
I think it'd be beneficial to add some more FAQs about Neovim.

I sent out a [tweet](https://twitter.com/Neovim/status/449743684188114944) to possibly gather a few more FAQs and this is what the response was:

I've also seen a few different tweets discussing how to donate money.

Based off of this, here are a few FAQs that I came up with:

**Question:** What ways will we be able to install Neovim?

[2014-03-30 16:43] #39 closed, assigned to nobody

[2014-03-30 20:24] #25 closed, assigned to nobody

[2014-03-30 20:25] #18 closed, assigned to nobody

[2014-03-30 20:25] #1 closed, assigned to nobody

[2014-03-31 16:39] justinmk opened #43 "style guide favicon points to invalid absolute URL"
This line needs to be made relative, instead of absolute:

https://github.com/tarruda/neovim.github.io/commit/6348e865682ef5375b1e9f81a1fde260421f2e8c#diff-b3b37c65ded54366a3513332c6011e87R26

[2014-03-31 20:38] #43 closed, assigned to nobody

[2014-06-07 07:01] justinmk opened #47 "merge dev wiki to neovim.org"
I don't see any reason to separate the dev wiki.

Suggestions:
- the name "development wiki" should be discarded (it's not a wiki)
- "GitHub" link should be renamed "Development" (?)
- "polls" should become a call-to-action or at maybe a navigation link on the main page
- the bitcoin section should become a minor section somewhere below the fold of the main page
- the style guide should be a minor

[2014-06-07 07:10] justinmk opened #48 "merge doxygen docs to neovim.org repo"
Assuming @stefan991 has interest in this, I think we should consider either linking to the doxygen docs at http://neovim.menkar.uberspace.de/devdoc or actually having his script push the latest build to this repo and hosting them on neovim.github.io.

It _should_ be possible to modify the doxygen CSS to match the neovim branding, but it might be a pain. I know it's important to maintain a consiste

[2014-06-18 18:01] justinmk opened #50 "footer has old link"
footer has old link to: http://neovim.org/development-wiki/

[2014-06-18 18:15] #50 closed, assigned to nobody

[2014-06-18 18:16] #47 closed, assigned to nobody

[2014-06-23 21:49] justinmk opened #53 "style guide: VLAs, function comments, true/false conditions, ..."
I believe we allow VLAs now, so we should modify the style guide to that effect.

Also since we now generate headers, we need to update the style guide passage regarding placement of function docstrings.

[2014-06-26 04:32] macarthy opened #54 "Error running bundle install"
Trying to run bundle install but it can't find blankslate

[code]

`gem install blankslate` works fine , installing version 3.1.3 of blankslate

Not sure if this is an issue upstream, I'll have a look.

[2014-06-26 04:35] #54 closed, assigned to nobody

[2014-07-01 00:16] justinmk opened #55 "generate HTML/markdown from vimdocs; make available on neovim.org"
User documentation should be made available on neovim.org as linkified HTML, like [this](http://vimdoc.sourceforge.net/htmldoc/usr_toc.html) but using the neovim.org theme, and the neovim-specific docs.

Only tool I could find that does this: http://vimdoc.sourceforge.net/cgi-bin/dumpvim2html.pl

[Using the "html" target in the old Vim Makefile](https://github.com/neovim/neovim.github.io/issues/24

[2014-07-01 22:37] #24 closed, assigned to nobody

[2014-07-08 11:15] Shougo opened #56 "neovim wallpapers"
I want to use neovim wallpapers like Vim wallpapers.
Can you create them?

[2014-07-30 22:07] jdavis opened #59 "Update Jekyll to 2.2.0"
It was just updated within GitHub Pages, which is pretty exciting.

Blog post about it: https://github.com/blog/1867-github-pages-now-runs-jekyll-2-2-0

[2014-07-31 03:31] #59 closed, assigned to nobody

[2014-07-31 04:20] #48 closed, assigned to nobody

[2014-08-06 06:09] justinmk opened #66 "neovim.org CNAME"
The [github pages help](https://help.github.com/articles/about-custom-domains-for-github-pages-sites) is very keen using a CNAME subdomain. But our CNAME file has `neovim.org`. Anyone know enough about this to comment on whether we are set up correctly?

@cweagans: does anyone else have access to the neovim.org DNS admin?

[2014-08-07 04:29] #66 closed, assigned to nobody

[2014-08-21 20:58] justinmk opened #69 "style-guide.xml: layout issue"
There's a layout issue with style-guide.xml:

![2014-08-21 16-57-51](https://cloud.githubusercontent.com/assets/1359421/4003359/ea8e21c2-2975-11e4-81aa-1a47af415f00.png)

[2014-08-21 21:23] #69 closed, assigned to nobody

[2014-11-13 07:02] justinmk opened #76 "change tagline"
We need a new tagline to replace "rebirth for the 21st century", which was just a placeholder.

...Also because the current tagline is nearly identical the XEmacs tagline (go to http://www.xemacs.org/ and look at your browser window title). Yep.

I like the tagline

 because it conveys several important themes of Neovim:

- Neovim *is* vim (lowercase Vim), *not* a clone or a greenfield rewrite
- T

[2014-11-14 15:30] cj opened #78 "unexpected shell behaviour"
When executing a shell command like !rspec that has something that pauses the process, like https://github.com/pry/pry.  nvim is not stopping and completing the entire process.  In vim the process would pause allowing you to type in the shell prompt.

[2014-11-14 15:33] #78 closed, assigned to nobody

[2014-11-25 17:40] jdavis opened #79 "Replace Issue with Newsletter"
For the next newsletter, use "Newsletter 5" instead of "Issue 5" as to not overload the term too much throughout the newsletter.

[2014-11-25 19:10] #79 closed, assigned to nobody

[2015-01-19 13:49] justinmk commented on #53
More things to note in the style guide:

- `%zu` format specifier [#1729](https://github.com/neovim/neovim/pull/1729#discussion_r22436056)
- `PRId64` instead of `%ld`, etc. [#599](https://github.com/neovim/neovim/pull/599)

[2015-02-04 17:39] cweagans opened #86 "Move to SSL via Cloudflare"
We don't have anything overly sensitive on the Neovim website, but that shouldn't stop us from enabling SSL. IIRC, we talked about moving to CloudFlare, which would also allow us to enable the Universal SSL service in the CloudFlare control panel. @jdavis, I think I recall you saying something about CloudFlare?

[2015-02-04 19:46] justinmk commented on #86
cloudflare was mentioned as a solution to the CNAME situation. https://github.com/neovim/neovim.github.io/issues/66#issuecomment-51380761

[2015-02-05 06:15] jdavis commented on #86
Yup. I already moved it to Cloudflare and SSL is already turned on: https://neovim.org/

If we wanted it to be the default, I'd just have to setup a page rule from http -> https.

[2015-02-05 11:05] fwalch commented on #86
:+1: for HTTPS by default. Some links that only use HTTP need to be fixed (e.g. Google Fonts), otherwise Firefox warns that "some unencrypted elements on this website have been blocked" when visiting the HTTPS page.

[2015-02-05 18:48] justinmk commented on #86
It's good practice to use "protocol relative" urls  http://www.paulirish.com/2010/the-protocol-relative-url/

[2015-02-05 19:03] fwalch commented on #86
@justinmk: Actually, the page you linked to doesn't recommend "protocol relative", but just unconditionally using HTTPS:

[2015-02-05 19:09] cweagans commented on #86
Yeah, but for local development, it's nicer to have things pulled in on the same protocol. +1 for protocol relative URLs.

[2015-02-05 21:16] jdavis commented on #86
I'll add the page rule to only use HTTPS. Then I can fix up the loading of the resources tonight unless someone beats me to it with a PR.

[2015-02-21 16:06] fwalch opened #88 "Highlight user benefits on website"
From https://vi.stackexchange.com/questions/34/what-is-neovim-how-is-it-different-from-vim-and-why-should-i-care, the website could probably do better in explaining what's so great about Neovim from a user perspective. The existing points are more targeted at (plugin) developers, I think.

Just wanted to write this down somewhere; I think it might be worthwhile to address this before the initial r

[2015-03-07 01:02] #55 closed

[2015-03-27 13:33] fwalch commented on #88
Another related point: while the [list of Neovim-related projects](https://github.com/neovim/neovim/wiki/Related-projects) is useful for developers that want to see what others have tried/are working on, it's probably too confusing for end users. For example, there are multiple projects that are seemingly similar (e.g. OS X GUIs), but in reality many of them might be just experimental/not compatib

[2015-03-27 17:37] Pyrohh commented on #88
I'm not sure we should be endorsing specific GUIs, but I haven't thought about this much. I like how we have many GUIs mentioned in the wiki, and the fact that the wiki is easily editable by users. However, the main reason I like it is because it's more representative of the Neovim community, as opposed to the website. Maybe we could just point to the wiki, but I'd like to hear your take on this.

[2015-03-27 18:15] fwalch commented on #88
Me too, but I'd say that's more from a developer's viewpoint.. someone just looking for a GUI to use will  probably be confused. Three OS X GUIs? Which one should they use? Many of the projects currently linked in the wiki are only experiments.

I'm not dead set about putting this on the website, but it might be the most appealing way.. instead of the current "planned features", we could do a "fea

[2015-03-27 19:42] Pyrohh commented on #88
Maybe... I'm skeptical of such a distinction being made on the website between regular community projects and "first class" community projects (i.e. everything that isn't mentioned on the website might be looked at as inferior). IMHO the wiki is the best place for this stuff currently because it's very clear that these are projects using Neovim, but are managed independently of it. I think that if

[2015-03-27 19:46] fwalch commented on #88
That should definitely not happen... maybe just create a second list on the Wiki where only "mature" projects are listed? Then again, how to define "mature"... *sigh* maybe this is a bad idea.

[2015-03-27 20:04] Pyrohh commented on #88
That was my main issue. People are generally terrible at comparing things, e.g."language1 is better and more mature than language2, I thought about it for at least 10 minutes!!".

I think if a project is reasonably popular then it will already be on the wiki and already be in use. junegunn's vim-plug, for example, hasn't had that much written about it, but it seems to have gotten popular via word

[2015-04-01 12:51] fwalch commented on #53
* We autogenerate the header files, so the distinction between function declaration/definition comments does not apply https://github.com/neovim/neovim/pull/2284#discussion_r27564286

[2015-04-02 23:09] Pyrohh commented on #76
Does this need to be open? It looks like #77 dealt with this.

[2015-04-02 23:43] justinmk commented on #76
@Pyrohh I still want to change the giant "this is the next generation" copy on the main page. Birth, generation, copulation, progeny, ancestry, etc., is a cliche; we can find better imagery.

[2015-04-03 10:55] tarruda commented on #76
Sorry for not seeing this until now(I only started using the "participating" filter from github notifications until a few weeks ago). I have no problems with any of these changes, so feel free to merge it.

[2015-04-11 22:48] justinmk commented on #53
- `strcmp` family of functions: prefer explicit comparison (`strcmp(...) == 0` vs `strcmp(...)` ?

[2015-04-11 23:19] justinmk commented on #53
- prefer `(foo)` and `(!foo)` instead of `(foo != NULL)` and `(foo == NULL)`, where `foo` is a pointer.

[2015-04-12 00:21] Pyrohh commented on #53
On one hand I think your suggestion is more idiomatic, but IMO it can make it harder to read code. If you encounter `(foo == NULL)` it's immediately obvious that it's a pointer, but `(foo)` is not. Of course `(foo)` could be in the presence of functions which imply it's a pointer, but this isn't necessarily obvious.

Is this not already done?

[2015-04-12 00:27] justinmk commented on #53
I'm neutral, but it seems that our most prolific contributors are in favor of it.

You mean it's already in the style guide? I didn't check. We just need to update the style guide so people aren't confused.

[2015-04-23 21:08] ZyX-I commented on #53
I think that `== NULL`/`!= NULL` checks are more readable as well. Also I cannot find where it is said that NULL *must* be zero:

Note **implementation-defined**.

Later it is explicitly said that null pointer may be *not* the pointer whose value is all-zeroes:

. On the other side

I failed to find references which say that

1. Null pointer compares equal to zero. (The only condition on which con

[2015-04-23 21:15] justinmk commented on #53
I think we're all aware of that, but any C compiler which defines NULL to anything other than 0 is guaranteed to not run any useful software. I don't feel strongly about it though.

[2015-04-23 21:46] elmart commented on #53
@ZyX-I The standard may not guarantee that NULL representation is all zeros (though I don't know about any implementation that doesn't), but it is guaranteed that a null pointer (whatever its representation) will convert to false when evaluated in a boolean context. So, abbreviated form is perfectly safe.

[2015-04-23 22:08] oni-link commented on #53
A faq for null pointers: http://c-faq.com/null/index.html. The problem with `if (ptr)` is answered in question 3.

[2015-04-23 22:22] justinmk commented on #53
@oni-link  From 5.3:

The C-faq is often 95% complete, and then stops just short of spelling out a crucial detail. Is it saying if `NULL == 1`, the compiler will resolve the expression as `if(p != 1)`?

[2015-04-23 22:35] oni-link commented on #53
In the explanation `NULL` is not used. Also `1` would not be an integral constant expression with the value 0 (so cannot be a null pointer), see @ZyX-I reference:

An integer constant expression with the value 0, or such an expression cast to type void *, is called a null pointer constant. If a null pointer constant is converted to a pointer type, the resulting pointer, called a null pointer, is g

[2015-04-23 22:51] elmart commented on #53
@justinmk No, it's saying the opposite. That the integer 0 will be converted to null pointer (whatever its representation) in order to be compared to p.

[2015-04-24 12:40] ZyX-I commented on #53
On April 24, 2015 1:35:45 AM EAT, oni-link <notifications@github.com> wrote:

It can. This section says that ... is called a null pointer constant ... converted to a pointer type ... called a null pointer. It does not say that this is *the only* way to get a null pointer. I do not see anywhere definition which says that two equal pointers can only be obtained from equal integers should they be obt

[2015-04-24 13:07] elmart commented on #53
Guys, I think this is degenerating into a kind of byzantine discussion.
From all the above, I think we can consider that using `if (p)` is perfectly safe.

[2015-04-24 19:01] ZyX-I commented on #53
@elmart It is a discussion primary about coding style. We all know that “any C compiler which defines NULL to anything other than 0 is guaranteed to not run any useful software”, but if I have an additional point in defence to my position (pointer checks should be explicit) I will propagate it because primary point (“it is less readable”, expanded in one of the above comments (not mine)) is rather

[2015-04-27 09:36] fwalch opened #95 "neovim.org deeplinks broken"
How is the redirection to the new .io domain set up? Is it possible to support deeplinks? Currently, e.g. neovim.org/doc redirects to the front page.

[2015-04-27 10:31] tarruda commented on #95
AFAIK it's not possible. Name resolution happens before HTTP and has no knowledge of "paths"

The only way to make this possible would be to setup another HTTP server for neovim.org that redirects to the corresponding path in neovim.io

[2015-04-27 10:32] tarruda commented on #95
I'm not sure though, I'm saying this based on my superficial knowledge of the protocols involved.

[2015-04-27 10:44] fwalch commented on #95
I'm surely missing something, but neovim.org/doc and neovim.io/doc should point to the same webserver, which should get the requested URL (`/doc`) and deliver the contents.. not sure where the `/doc` is cut off in the .org case.

[2015-04-27 10:59] tarruda commented on #95
Ok it was just an error in the configuration. I set it up to redirect to `http://neovim.github.io` when it should be `http://neovim.github.io/`. Reference: https://www.namecheap.com/support/knowledgebase/article.aspx/385/77/how-do-i-set-up-url-forwarding-for-a-domain

[2015-04-27 11:16] tarruda commented on #95
This is fixed for me so I will close. If there's still a problem feel free to reopen

[2015-04-27 11:16] #95 closed

[2015-04-30 15:29] fwalch commented on #86
https://neovim.io now shows a certifcate error. Can we set up HTTPS for the new URL?

[2015-04-30 18:47] jdavis commented on #86
All of this is in the hands of Thiago now. He controls the domain and DNS for both.

[2015-04-30 19:11] fwalch commented on #86
Ping @tarruda.

[2015-05-01 22:33] ZyX-I opened #96 "user docs: Python documentation contains strange YXXY strings"
[g:python_host_prog](http://neovim.io/doc/user/nvim_python.html#g:python_host_prog) and next variable documentation currently looks like

: note YXXY. Link is absent.

[2015-05-01 22:42] ZyX-I opened #97 "user docs: many unneeded links, some are broken"
![](http://img-fotki.yandex.ru/get/6518/9151298.5/0_b2aa1_c8f14d2b_orig.png)

Note highlights: `Python` (link to the paragraph which is currently shown), `Tab` (links to Tab key description under `:h key-notation`), `<<` (links to `:h <<`: command for dedenting current line).

And `objects` link leads to `http://neovim.io/doc/user/vimindex.html#objects` which shows 404.

[2015-05-02 01:30] ZyX-I opened #98 "style guide: Require trailing comma"
Current style guide does not talk about trailing commas in array and struct braced initializer list format. The example shows that it should be omitted in struct initialization, but I think this is bad idea in struct initializers (except for one-line ones) and it is _especially_ bad idea in array initializers. Reasoning is simple and known: should you append element to the list without the trailin

[2015-05-02 02:08] Shougo commented on #98
:+1:

[2015-05-02 02:29] Pyrohh commented on #98
Sounds reasonable to me.

[2015-05-03 00:48] justinmk commented on #98
@ZyX-I Would this be a correct example?

[code]

[2015-05-03 09:25] ZyX-I commented on #98
@justinmk Yes, though I would prefer to keep the current one and add additional (unless you want to also require `};` on the separate line as long as opening `{` is on the separate line from the first element):

    struct my_super_struct m = {
        superlongvariablename1,
        { short, interior, list },
    };

    struct my_list_struct m[] = {
        { varname, { short, interior, list } }

[2015-05-03 09:27] ZyX-I commented on #98
The existing example shows that

    … = {
        … };

is allowed, changing it hangs this information (you don’t know whether it is allowed or not).

[2015-05-04 21:52] justinmk commented on #53
For `@returns` in doxygen comments, note `[out]` and `[allocated]` conventions.

https://github.com/neovim/neovim/pull/2470#discussion_r29104518

[2015-05-10 17:18] justinmk commented on #53
Also need a caveat in the comment style recommendation regarding macro comments: https://github.com/neovim/neovim/pull/2578#discussion_r29609134

[2015-05-14 08:30] tarruda commented on #86
As explained by [this blog post](https://konklone.com/post/github-pages-now-sorta-supports-https-so-use-it), using cloudflare SSL is not really a secure approach because the connection between github and cloudflare is still unencrypted, a "man in the middle" could simply sit between cloudflare and github to change the served content. This would be even worse than plain http since users would have

[2015-05-14 19:11] cweagans commented on #86
-1 for running our own web infrastructure. That's led to some poor decisions in the Drupal community.

You can just use the https version of the GH pages site as the cloudflare origin. Problem solved.

[2015-05-14 19:14] cweagans commented on #86
Also, I'd be more concerned if we were a banking website or something. Its not a high value target to MITM. I don't think we have anything to worry about.

[2015-05-14 19:14] justinmk commented on #86
Agreed. Please don't do this.

[2015-05-15 02:19] tarruda commented on #86
According to the blog post I linked this isn't possible yet:

Though I admit I did not investigate this much.

If it's possible to have a fully encrypted connection between visitors and github pages, then using cloudflare ssl for neovim.io is a good approach. If not, there's nothing to gain by using SSL since cloudflare <-> github connection is still unencrypted. In fact it would be even worse sin

[2015-05-15 06:36] cweagans commented on #86
https://neovim.github.io redirects to the CNAME in the repo. The HTTPS version is live - we just get redirected away from it. We'd have to remove the cname file in the repo to verify.

[2015-07-02 01:33] justinmk opened #104 "Neovim Charter"
migrate charter from Google Doc to markdown

https://docs.google.com/document/d/1Ubpu9xHpKMRi1QqIb8Wa7QRBc4k0j0xvov5GBMxA0qo/edit?usp=sharing

[2015-07-03 16:32] fmoralesc commented on #104
https://gist.github.com/fmoralesc/e6ac18c968dd7bd952be

[2015-07-03 16:48] justinmk commented on #104
:) I  am not at a computer. We need some place on the website for charter, roadmap, etc...

[2015-07-03 17:22] fmoralesc commented on #104
What do you think of this layout?

![captura de pantalla de 2015-07-03 14-20-47](https://cloud.githubusercontent.com/assets/221465/8503015/bc98e132-218e-11e5-891e-f7285c70a4bb.png)

[2015-07-03 23:31] justinmk commented on #104
Good, but the think just one link called "about" is enough. It will contain project management-related stuff.

[2015-07-04 00:23] fmoralesc commented on #104
Sure. Do you want it to be a static link or should it be a dropdown with links to different pages?

[2015-07-04 05:41] fmoralesc commented on #104
A mockup:

![captura de pantalla de 2015-07-04 02-24-56](https://cloud.githubusercontent.com/assets/221465/8506648/0eec187a-21f6-11e5-9e80-0f1b1846e65f.png)

[2015-07-04 10:31] fwalch commented on #104
Hmm.. how will the drop-down look on mobile? (do we even have the menu on mobile currently? I remember there was none at some point)

[2015-07-04 13:31] fmoralesc commented on #104
The whole menu is hidden when the view is small, it's something else I
noticed.

El sáb, jul 4, 2015 07:31 AM, Florian Walch <notifications@github.com>
escribió:

[2015-07-04 17:46] fmoralesc commented on #104
Latest iteration:

![captura de pantalla de 2015-07-04 14-43-21](https://cloud.githubusercontent.com/assets/221465/8508895/2b5e6f98-225b-11e5-8b83-a88fb2d5b3ab.png)
![captura de pantalla de 2015-07-04 14-43-11](https://cloud.githubusercontent.com/assets/221465/8508896/2b823234-225b-11e5-87f5-ca5cc334d345.png)

I used bootstrap because I'm lazy like that.

[2015-07-04 17:49] fwalch commented on #104
Looks nice! Can you align the drop-down with the "About" menu (i.e. open the drop-down "to the right", so that the "Charter" text is below "About")?

[2015-07-04 17:49] fmoralesc commented on #104
I'm working on that ;)

[2015-07-04 18:13] fmoralesc commented on #104
![captura de pantalla de 2015-07-04 15-13-21](https://cloud.githubusercontent.com/assets/221465/8508976/3e8e21d6-225f-11e5-84c7-450ba9a7d54b.png)

Done ;)

[2015-07-31 15:17] justinmk commented on #56
This is not something the core project can provide.

[2015-07-31 15:17] #56 closed

[2015-07-31 15:18] justinmk opened #110 "Newsletter vNext"
Commit patterns have created high expectations:

Notable items:

- focus on 0.1
    - roadmap
- statement of goals/charter
- XDG support https://github.com/neovim/neovim/pull/3198
- shada https://github.com/neovim/neovim/pull/2506
- defaults
- third-party plugins
- new collaborators
- faster travis builds
- lint for all changes going forward
- highlight how easy it is to build neovim from source
-

[2015-08-06 23:30] justinmk commented on #104
Thanks @fmoralesc !

[2015-08-06 23:30] #104 closed

[2015-08-06 23:32] fmoralesc commented on #104
Great!

[2015-08-06 23:37] justinmk commented on #104
I like all the additional changes too, like the link and menu hover!

[2015-08-06 23:46] fmoralesc commented on #104
It should behave a bit better on smaller screens too ;)

[2015-09-08 15:47] lifepillar opened #114 "Web site unreachable with DNSSEC"
Is it possible that neovim.io has DNSSEC validation broken? I get a SERVFAIL error whenever I try to access the site using my own DNS server (which uses dnscrypt-proxy). The site is available through my ISP's DNS service.

I haven't experimented much, but that's the only site I have found in more than one year with DNSSEC, which behaves the same as http://www.dnssec-failed.org.

[2015-09-09 05:34] justinmk commented on #114
Maybe @jdavis could comment.

[2015-09-11 15:04] jdavis commented on #114
neovim.org used to be under my CloudFlare account (I was paying at the time for other domains so it didn't cost anything extra) but I don't have knowledge/control of anything since it switched to .io. @tarruda has all of that, I believe.

[2015-09-20 07:07] tarruda commented on #114
I have registered and manageneovim.io through namecheap, but it seems dnssec isn't supported: https://community.namecheap.com/forums/viewtopic.php?f=6&t=8597

[2015-09-20 07:21] cweagans commented on #114
@tarruda We should still run the DNS for neovim.io through Cloudflare. It's a pretty simple process to get up and running, but it will take some coordination. Is there a good time to set this up?

[2015-09-20 07:21] tarruda commented on #114
@cweagans I will look into this now

[2015-09-20 07:33] tarruda commented on #114
I have setup a cloudflare account and transferred neovim.io to it, but it seems the change can take up to 24 hours

[2015-09-20 07:42] tarruda commented on #114
It seems the change is now live, @lifepillar if the site is reachable through dnssec can you close the issue?

[2015-09-20 07:43] tarruda commented on #86
I have moved neovim to my cloudflare account and it is using ssl

[2015-09-20 07:55] lifepillar commented on #114
Yes, it appears to be served just fine now!

[2015-09-20 08:32] #114 closed

[2015-09-23 14:07] #86 closed

[2015-10-13 21:17] JD557 opened #121 "RSS feed not working over HTTP"
It seems that the RSS feed at https://neovim.io/news.xml does not work over plain HTTP (i.e. `curl http://neovim.io/news.xml` returns an empty response).

While this should't be a problem by itself, there seems that the server has a very limited set of cipher suites. For example, while I can run `curl https://neovim.io/news.xml` from my mac, it fails from my CentOS 6 machine. It seems to also fail

[2015-10-13 21:30] tarruda commented on #121
We use [cloudflare SSL](https://www.cloudflare.com/ssl) which seems to have limited browser support(perhaps your CentOS curl is outdated?). I have disabled plain http access but can re-enable if it is causing issues for some clients

[2015-10-14 03:54] justinmk commented on #121
AFAICT cloudflare is using a newer (more secure) version of TLS, and some old distros ship with curl and/or wget which don't support the TLS version.

More details here: https://github.com/badges/shields/issues/439#issuecomment-139821618

[2015-10-30 23:46] tvon opened #122 "Font size in vim help pages is tiny"
I realize these things are subjective, but the `0.9rem` sizing seems tiny in the vim help docs:

current sizing from [`main.css`](https://github.com/neovim/neovim.github.io/blob/master/css/main.css#L72):

<img width="1237" alt="screen shot 2015-10-30 at 7 42 30 pm" src="https://cloud.githubusercontent.com/assets/25628/10860445/9c3c8e6c-7f3e-11e5-898f-78e7c7344d9f.png">

Sizing removed via inspecto

[2015-10-31 17:28] #122 closed

[2015-12-13 09:00] #110 closed

[2015-12-13 09:05] #76 closed

[2016-02-04 16:32] cweagans opened #127 "Create a package index"
Vim users have vim.org as a package index to some extent, and then a bunch of random repos on Github, but I think we can do better.

I'd like to create something similar to Vim Awesome, but host it at packages.neovim.io or plugins.neovim.io. I think that while we *could* do this with Github Pages, it would be a better user experience to build it with something a little more robust (i.e. some serve

[2016-02-06 03:05] Shougo commented on #127
@cweagans I and @tyru have considered the plugins repsitory system.

Our project is in:  (Sorry, the discussion in Japanese)
https://github.com/vim-vivacious/metainfo/issues/

[2016-02-06 17:37] justinmk commented on #127
@cweagans Note https://github.com/neovim/neovim/issues/247.

On paper it's great, but the details require thought and it will be a huge time-sink to get it right. IMO. I'm not at all opposed to someone taking total ownership of this and making it work, and I'll do anything I can to remove obstacles that are blocking progress. But taking an active role in this is low-priority until other more impor

[2016-02-06 18:44] cweagans commented on #127
@justinmk I don't want to design a package format. I just don't want to crawl Github. It's simple enough to login with Github and essentially say "my repo is a Neovim plugin". Rather then requiring a metadata file somewhere, we'll just ask the user fill in some details in the web UI. Later, if we decide we want to ask plugin maintainers to include a metadata file, it will be easy to just grab that

[2016-02-06 18:57] tyru commented on #127
If neovim thankfully uses our idea of metainfo repository,
please see the [overview image](https://github.com/vim-vivacious/metainfo/issues/1#issuecomment-178585193).
The image is totally written in English
because we suppose a workflow which is a part of Vim ecosystem(vim-pi,...) in feature.

[2016-02-06 19:36] justinmk commented on #127
@tyru what is the difference between vim-pi and vivacious?

[2016-02-06 20:03] tyru commented on #127
Well, also I thought that like "well, vim-pi seems enough for me" until I talked with @Shougo.

According to [his story](https://github.com/vim-vivacious/metainfo/issues/1#issuecomment-170244209),

### 1. Plugins that does not exist are listed in databases yet

Almost data are until 2014.
Google Code is closed but vim-pi doesn't check if the plugins exist.

### 2. Need to run a vim script to use d

[2016-02-06 20:15] tyru commented on #127
The image is just an overview and we are just starting to work on that.
So please tell me if the overview is ambiguous.
And no codes are available yet...
But if you thankfully help us to make it, we should output all information in English.

[2016-02-07 01:15] Shougo commented on #127
Because, the bot does not work...

https://github.com/vim-scripts

[2016-02-07 04:39] tyru commented on #127
@Shougo I see.
Indeed it seems a little bit old.

[2016-02-07 07:13] cweagans commented on #127
@Shougo @tyru IMO, that's way too complicated. There's really no reason for all of that complexity if you look at what the requirements actually are:

1. We want a list of plugins that work with Neovim.
2. The list should be separated by category and searchable in a web UI
3. The list should be available in a machine readable format for package managers to consume.
4. There should be some guarante

[2016-02-07 07:51] justinmk commented on #127
Do you have numbers on that? I somehow doubt it is very expensive.

But it's not equivalent. Passive always wins, if it can _possibly_ work. The value in VimAwesome's approach (were it actually maintained) is that it shows _actual usage_ of plugins by users, instead of just upvotes or stars.

We can link to it an suggest it, but declaring anything as "official" is a long way off, it incurs all kin

[2016-02-07 08:03] tyru commented on #127
@cweagans

Yes.
We also talked about that and the bot does not have to crawl GitHub repositories via GitHub API.
We just provide a list of plugin URIs (see "URI List File"), and GitHub bot crawls only their repos in the list file.

Hm, the idea sounds Vim plugin developers must specify the Web hooks URLs from GitHub or BitBucket site's "Settings" page.
I don't think all Vim plugin developers (who

[2016-02-07 19:50] cweagans commented on #127
You'd log into the package index with your Github or Bitbucket account. The application would show a list of repos, and when you select one to add to the package index, the webhook would be set up for you automatically. This is similar to how Travis CI works.

This is easily doable. Packagist (the PHP equivalent to NPM) does this by tracking the number of downloads. Composer, the CLI client, is ex

[2016-02-08 06:00] tarruda commented on #127
@cweagans If you want to do this, I suggest to investigate how [component.io](http://component.github.io/) (javascript package registry and installer) is implemented. It is simple, well designed and has minimal server-side requirements, so it would be a good idea to learn from it(even though it is currently unmaintained). Here's what I could understand from a quick search through their repositorie

[2016-07-08 16:34] brycefisher opened #134 "Needs an "Install Now" button or call-to-action on the homepage"
Every time I setup a new machine, it takes me 10 minutes of clicking around to find the install instructions. It feels like the main goal of the homepage should be get me to view (and run) the install instructions, so there should be a big button or prominent link on the homepage to help accomplish that IMHO.

[2016-07-08 16:34] brycefisher commented on #134
FWIW, I'd be happy to open a PR next week which provides a link to wiki.

[2016-07-08 22:17] justinmk commented on #134
@brycefisher PR would be welcome.

[2016-07-13 04:13] #134 closed

[2016-07-13 17:56] brycefisher opened #139 "Align the right column of 'Supporting the project' on homepage"
The **Bitcon** header and nearby content should line up with the "Logos" above it. Currently the "Supporting the project" container is broken in half into two columns, whereas the rest of the homepage is split roughly into a larger 2/3 left column and a narrower 1/3 right column.

[2016-10-05 11:32] ganwell opened #141 "News for people sponsoring via bountysource"
Hi

I like to ask you to write something about what is done using the money we sponsor. The last official news was in December 2015. It doesn't have to be too often, every 4 month would be sufficient. I know there is some news about the project in general on twitter, but we sponsor the work of @tarruda, so I am curious what is going on there.

Best,
    Jean-Louis

[2016-10-05 12:25] justinmk commented on #141
There is a draft of the [newsletter](https://github.com/neovim/neovim.github.io/pull/136). I keep getting sidetracked by "fixing one last bug", so it's not published, but, it's mostly done and available since July.

I removed @tarruda's name from the [salt page](https://salt.bountysource.com/teams/neovim). The salary is intended to fund any experienced core contributor who can meet the obligations

[2016-10-05 16:21] ganwell commented on #141
@justinmk Thanks a lot for the update. I now understand better.

[2017-01-29 15:02] justinmk commented on #141
Newsletter was published. We'll do another one for the 0.2. release as well.

[2017-01-29 15:02] #141 closed

[2017-02-20 13:55] #121 closed

[2017-02-20 13:56] justinmk opened #148 "News"
- cross-pollination: https://github.com/neomutt/neomutt/pull/415
- actualvim: https://github.com/lunixbochs/actualvim/tree/neovim
    - https://gitter.im/neovim/neovim?at=58b721e47ceae5376a5976f0

    - popupmenu: https://github.com/lunixbochs/actualvim/issues/57#issuecomment-286452725
        - 50 LOC: https://github.com/lunixbochs/actualvim/commit/bd214f980688546926c17ec84418446674f62f27

- stud

[2017-02-24 22:37] guyzmo commented on #148
(it's still not set in stone, though, we might not end up running unit tests in lua)

[2017-03-10 09:24] fpvmorais opened #149 "RSS feed not working"
Hello,

Your RSS feed is not ok.

http://www.feedvalidator.org/check.cgi?url=https%3A%2F%2Fneovim.io%2Fnews.xml

Gives this message:
Server returned [Errno 1] _ssl.c:504: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error

Thank you :)

[2017-03-10 11:14] justinmk commented on #149
That is a cloudflare decision, nothing we can do about it. http://askubuntu.com/q/649000

[2017-03-10 11:14] #149 closed

[2017-05-01 22:14] timeyyy commented on #148
https://github.com/neovim/neovim/pull/6634 - Should we try and put a shorter news letter out to coincide with the version release?

[2017-05-01 22:15] justinmk commented on #148
yep

[2017-10-10 21:59] cweagans commented on #127
Coming back to this:

I don't think we need to create a registry now. Github does a lot of the heaving lifting for us. That is, we don't need a separate registry at all because Github itself can act as a registry! All we need is a nice UI on top of the repository search API.

Essentially, the process for opting-in to including a plugin in the listing would be to tag your repo with "neovim-plugin"

[2017-10-11 06:53] justinmk commented on #127
If one had to choose only one new thing, the single most valuable thing that could be done in this space would be to ship a way for users to install a plugin manager by a single command. Discovery would be the next thing, but currently for new users, setting up a plugin manager is where the friction is.

Yes, it's more boring than creating a new web app :)

[2017-10-11 15:24] cweagans commented on #127
Fortunately, we don't only have to choose one :)

I don't disagree that installing a plugin manager with a single command would be awesome, but that's not really something that I'm well equipped to help with at the moment.

[2018-04-10 05:41] smlx opened #158 "Invalid Atom feed"
The feed https://neovim.io/news.xml contains entries with duplicate `<id>` elements. These [should be unique](https://stackoverflow.com/questions/150741/how-do-you-generate-a-good-id-in-atom-documents), and in fact my feed reader refuses to load the feed due to the duplicate elements.

Specifically, newsletters 5 and 6 have the same `<id>`.

[2018-06-11 20:32] somini commented on #158
Here's a handy validator: https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fneovim.io%2Fnews.xml

[2018-06-11 20:35] justinmk commented on #158
This is some Jekyll magic. Need someone to send a patch.

[2018-06-11 21:05] somini commented on #158
Instead of doing this by hand [here](https://github.com/neovim/neovim.github.io/blob/master/news.xml) you can use the https://github.com/jekyll/jekyll-feed plugin. It will by default use the same URL even.

[2018-06-11 23:55] cweagans commented on #158
Jekyll plugins are a no go on Github Pages AFAIK.

[2018-06-11 23:56] cweagans commented on #158
Oh, I see. That's one of the default ones they give you: https://help.github.com/articles/configuring-jekyll-plugins/

[2018-06-12 00:15] somini commented on #158
It should be a matter of editing the `_config.yml` file to add the `jekyll-feed` plugin and remove the `feed.xml` file from the root directory.

[2018-07-25 13:42] slonik-az opened #160 "wrong current release on the home page"
On the home page neovim.io in the beginning of the FAQ section the current release is listed as `0.3.0` while it should be `0.3.1`.  Please, correct.

[2018-07-25 14:13] #160 closed

[2018-07-25 14:13] justinmk commented on #160
thanks. feel free to send a PR next time :)

[2018-12-04 07:00] rminderhoud opened #164 "About link broken"
The about link in the main navigation bar is broken. The footer uses the correct link.

Broken Link: `https://neovim.io/#`
Correct Link: `https://neovim.io/about/`

[2018-12-04 11:55] justinmk commented on #164
? I'm guessing you have javascript disabled.

[2018-12-04 11:55] #164 closed

[2019-11-08 02:49] camgaertner opened #175 "Homepage moved link"
The homepage states

Clicking on the discoverable link leads you to a [moved page](https://neovim.io/doc/user/msgpack_rpc.html#rpc-api). It's a bit of a bad experience especially because the anchor text for that link is touting the API's discover-ability.

[2019-11-08 05:00] justinmk commented on #175
Thanks for catching that!

[2019-11-08 05:01] #175 closed

[2019-11-14 09:17] justinmk commented on #139
this was reworked since then.

[2019-11-14 09:17] #139 closed

[2019-11-14 09:17] #88 closed

[2020-06-10 17:48] taminaru opened #183 "Why Google Analytics and Fonts?"
Would you be willing to remove this Google Analytics and Fonts 'functionality' from this website? There are better alternatives if you must keep tabs on users' activity.

Some reputable alternatives can be seen here: https://switching.software/replace/google-analytics
https://switching.software/replace/google-fonts

[2020-06-29 16:29] jamessan commented on #183
Do we know if anyone actually reviews the analytics?  I didn't even realize we had them and would be fine with getting rid of it.

[2020-06-29 16:33] teto commented on #183
same

[2020-06-29 17:33] cweagans commented on #183
I review them occasionally but it may not be worthwhile to collect the data in the first place.

[2020-06-29 21:23] teto commented on #183
I am in favour of removing it if there is no good solution to replace it but now that we have figures, it would be nice to share them on our @gitter before ditching it (in terms of evolution, absolute numbers etc)

[2020-06-29 22:05] cweagans commented on #183
I probably won't be able to do much on that front in the immediate future, but i can give you access if you'd like so that you can pull numbers. if you'd like to go that route, let me know which google account i should use.

[2020-07-14 23:49] resynth1943 opened #185 "Google Analytics"
## Remove Google Analytics

This commit removes the Google Analytics 'functionality' from this page. Following on
from the previous commit, this change also greatly improves the privacy of
unsuspecting users.

If you must have an analytics system, might I suggest either:
- Plausible: https://plausible.io (offers a 50% discount for FOSS projects)
- Goatcounter: https://goatcounter.com
- Matomo: htt

[2020-08-03 15:02] viktorsieger opened #187 "Broken link in the docs"
Hi! I found a broken link at [https://neovim.io/doc/user/nvim.html#nvim-from-vim](https://neovim.io/doc/user/nvim.html#nvim-from-vim) > part 1 > "init.vim".

[2020-08-16 23:26] justinmk commented on #187
thanks, these are auto-generated and that is being worked on in this core repo

[2020-08-16 23:26] #187 closed

[2020-08-16 23:27] justinmk commented on #185
send a PR

[2020-08-16 23:27] #185 closed

[2020-08-16 23:27] justinmk commented on #183
send a PR?

[2020-08-17 03:23] #183 closed

[2020-09-01 12:23] m1027 opened #191 "Wrong default C code folding for casted structs"
I hope it is okay to bother neovim with this:

When folding C code at curly brances "{" and "}", it does not work correctly for this valid C code:

((const struct s){1, 2, 3})

In this case the opening curly brace starts confusing folding as well as brace matches, thus in turn coloring a lot of subsequent braces read.

Note: When leaving out the outer surrounding braces this does not happen.
Also

[2020-09-07 01:34] jamessan commented on #191
This is the wrong repository (https://github.com/neovim/neovim is the right one) and this is a [known issue](https://github.com/vim/vim/issues/406) with the syntax highlighting.

[2020-09-07 01:34] #191 closed

[2020-09-07 02:19] #158 closed

[2020-12-08 23:59] rockerBOO commented on #183
Moving from Google Fonts with #205

[2020-12-16 16:58] lucastrvsn opened #207 "PROPOSAL: change how the website is build and developed"
Hello guys! I want to contribute with the neovim's website. Reading all the source code I notice we are using too old technologies for frontend development. My proposal was changing the core of the website to enable some nice features, help new developers to come and contribute and improvements on the website.

So, maybe we can change to using some standard tools like: `webpack` (for bundling all

[2020-12-17 00:45] cweagans commented on #207
-1 from me. The website is maintainable right now by anyone without in depth front-end web development knowledge. Piling on the normal slew of front-end tooling just raises the barrier to entry for anyone that wants to actually contribute to the website, and we really don't gain that much by adding that tooling: it's a 10 page website. We don't _need_ that tooling.

I would suggest that you detail

[2020-12-17 13:34] lucastrvsn commented on #207
Hey! I get your point. No problem!

As a front-end developer I feel the source code is too old and we can improve it to make more readable and beginner friendly. Using node.js tooling are much easier and concise method of develop front-end nowadays. Make some changes of how we can built the website is great (at least for my perspective). Maybe the website is 10 pages now, but how about if it grow?

[2020-12-17 13:54] teto commented on #207
to paraphrase one of the greatest: `"A nice looking website, that’s one thing Neovim did right."` . I agree with @cweagans and lean to the KISS side (which as non webdev developer may be different than yours). If we use some tooling we have to make sure it will work in the long run. If you are still willing to help, I was thinking we could add a page to add some screenshots (https://github.com/neo

[2020-12-17 14:11] lucastrvsn commented on #207
No problem, thanks for all your opinions!

[2020-12-17 14:11] #207 closed

[2021-01-19 13:34] baltitenger opened #210 "Replace riot.im links with client-independent matrix.to links"
Seemingly, 3 links have to be replaced to `https://matrix.to/#/#neovim:matrix.org`
[code]

[2021-01-19 14:07] bfredl commented on #210
would you mind doing a PR? :)

[2021-01-19 19:18] #210 closed

[2021-04-14 10:20] zmefz opened #217 "Site certificate issue"
Looks like something is wrong with the certificate.

<img width="753" alt="image" src="https://user-images.githubusercontent.com/3994011/114695160-f719a000-9d23-11eb-8526-799850e31ecd.png">

[2021-04-14 17:23] cweagans commented on #217
ping @tarruda - are we still serving the site through cloudflare per https://github.com/neovim/neovim.github.io/issues/86 ? It looks like the DNS records were updated to point directly at GH pages. Not sure when that change was made, but I'm guessing it was in the last day or so and it broke HTTPS.

[2021-04-14 18:05] tarruda commented on #217
Hi @cweagans.  A few months I transferred ownership to @justinmk (CC)

[2021-04-14 18:05] cweagans commented on #217
ah, okay. great. thanks! @justinmk lmk if i can help here somehow

[2021-04-19 01:05] kamalmarhubi commented on #217
From what I can tell, there's a CNAME record being returned for `neovim.io`:
[code]

CNAME records are not really supported for an apex domain. Cloudflare does something called [CNAME flattening](https://blog.cloudflare.com/introducing-cname-flattening-rfc-compliant-cnames-at-a-domains-root/), so if someone copied DNS records from Cloudflare it may explain the issue. I'd suggest setting A records

[2021-04-19 01:28] cweagans commented on #217
I do not have access to fix this directly. Happy to do it if @justinmk wants to hand out access though!

[2021-04-22 13:54] justinmk commented on #217
I have updated neovim.io DNS to use cloudflare. SSL should hopefully work in 24 hours.

[2021-04-22 15:50] cweagans commented on #217
@justinmk Would it be possible for me to regain access to the Cloudflare control panel + domain registration for the Neovim domains? This is critical infrastructure for the project and I'd be glad to provide some backup for you so that the bus factor isn't so low.

[2021-04-22 16:49] justinmk commented on #217
I invited @teto as an admin to the cloudflare account.

[2021-04-22 16:49] #217 closed

[2021-04-22 18:24] cweagans commented on #217
:+1: that works! Thanks for looking at this!

[2021-04-23 20:56] teto opened #218 "update the sponsor page"
https://neovim.io/sponsors/ still shows bountysource but we now prefer donations via github sponsor/opencollective so better to put these in front.

In case we do it, we may need to notify the sponsors ? to notify they can subscribe with github instead or if they want to cancel because the sponsorship will be less visible

[2021-05-22 18:26] rockerBOO opened #228 "Remove jQuery and Update Bootstrap"
With Bootstrap 5.0, jQuery is no longer required. The feature we used that required it was the dropdowns in the header nav bar. Currently running Bootstrap 5.0 beta so no breaking issues should come up.

We can now remove jQuery and include the Bootstrap 5 javascript bundle (including popper.js) and slim down things a little.

See `_layouts/default.html`

https://getbootstrap.com/docs/5.0/migratio

[2021-07-08 20:44] euclio opened #237 "Dead links in LSP help"
I was browsing the online [`lsp.txt` help page](https://neovim.io/doc/user/lsp.html) and I noticed that the links to lua functions are broken (see the link to `vim.lsp.omnifunc`, for example).

[The link itself is pointing to "vim.html" which doesn't exist](https://github.com/neovim/doc/blob/gh-pages/user/lsp.html#L134). I tried generating the HTML help locally and the links are correct, so I'm gu

[2021-07-09 15:19] rockerBOO opened #238 "Update roadmap with 0.6"
We pushed tree-sitter to 0.6 for an official release. Also should update for any other features we are pushing to release in 0.6.

[0.6 milestone](https://github.com/neovim/neovim/milestone/11)
[Roadmap](https://neovim.io/roadmap/)

[2021-07-09 15:39] teto commented on #238
https://github.com/neovim/neovim.github.io/pull/231

[2021-07-14 20:46] boehs opened #241 "Remove or update "impressions""
The whole thing feels spammy.

* Who is Geoff Greer and Wolfy87? Why does their impression matter more than the countless other positive things people have said?
* I don't think we should be focusing on neovim's website, as cool as it is we managed to squeeze a complement out of *him*.

Instead, I think we should try to

a. phase out impressions entirely
or
b. find more... notable publications and

[2021-07-19 07:41] clason commented on #238
#243

[2021-08-06 06:19] XVilka commented on #238
Please also update the description of Neovim Sponsors page since it still speaks about 0.5 https://github.com/sponsors/neovim

[2021-08-06 19:31] teto commented on #238
I've updated the sponsor page a bit.

[2021-08-28 12:48] #238 closed

[2021-09-18 05:27] XVilka commented on #228
I wonder if it makes sense to use some lighter alternatives to Boostrap like one of these:
- [Skeleton](http://getskeleton.com/)
- [Pure](https://purecss.io/)
- [Materialize](https://materializecss.com/)
- others

[2021-09-22 14:31] justinmk commented on #237
known issue with the help generator. I'm working on a rewrite of the help gen...

[2021-09-22 14:31] #148 closed

[2021-09-22 14:41] justinmk opened #247 "doxygen layout is broken"
doxygen generated documentation looks broken, likely an accident of the (_much_ appreciated) CSS updates by @rockerBOO  https://github.com/neovim/neovim.github.io/pulls?q=is%3Apr+author%3ArockerBOO

- https://neovim.io/doc/dev/pages.html
    - ![image](https://user-images.githubusercontent.com/1359421/134363641-41c91032-d7da-4404-8245-103f0113e6a7.png)

## Solution

To fix this we likely need to u

[2021-09-22 14:54] justinmk commented on #127
see also:

- @teto exploration of Luarocks as the Neovim package manager: https://teto.github.io/posts/2021-09-17-neovim-plugin-luarocks.html
- https://neovim.discourse.group/t/plugin-metadata-formats-what-has-been-tried-already-why-did-they-fail-and-can-it-succeed/1153

[2021-09-22 16:03] rockerBOO commented on #247
Looked a little bit and those 2 files seem ok, but their are others in neovim/neovim that might need to be updated.

https://github.com/neovim/neovim/blob/master/src/Doxyfile which references [extra.css](https://neovim.io/doc/dev/extra.css)

And the relevant files are in https://github.com/neovim/neovim/tree/master/contrib/doxygen

I can take a look when I can but others can feel free to update th

[2021-09-28 16:47] dundargoc commented on #98
Needlessly complicated, but sure. @justinmk: should we move this issue to the neovim repo if it's still relevant?

[2021-09-28 16:56] dundargoc commented on #53
@justinmk Huh, I guess this is still relevant since the VLA section hasn't been updated. I'll create a PR now as to not forget it.

Is there anything else of use here to us? Skimmed through it quickly but mostly felt like I got a lecture on null pointers.

[2021-10-03 01:15] justinmk commented on #98
should be a quick addition to `:help dev-style`, let's just close this when that is done

[2021-10-03 01:18] justinmk commented on #53
@dundargoc i think this would be worth adding to `:help dev-style`:

[2021-10-03 10:32] dundargoc commented on #53
Plan to add it in [this PR](https://github.com/neovim/neovim/pull/15829).

[2021-12-21 22:07] applericky opened #253 "Broken link for documentation on Neovim.io"
Hi,

After looking at the main page there appears to be a broken link at the bottom of the front page.

![image](https://user-images.githubusercontent.com/7573695/147003528-e3fee611-4dd7-4d90-b89f-b7faab821973.jpeg)

When pressing it the link directs to https://neovim.io/doc/ but the link ends back up on a 404 GitHub page.

Is it supposed to redirect to https://neovim.io/doc/general/?

Let me know

[2021-12-21 22:10] teto commented on #253
it's a tough issue. I am a bit swamped right now but I will fix it in january https://github.com/neovim/neovim.github.io/pull/232

[2022-01-04 03:43] neovim-discourse commented on #253
This issue has been mentioned on **Neovim Discourse**. There might be relevant details there:

https://neovim.discourse.group/t/documentation-link-on-home-page/1800/2

[2022-01-06 17:54] captn3m0 opened #254 "Blocked in India"
Ref: https://twitter.com/sanchayan_maity/status/1479131300040564737

Probably because the site is using Flexible SSL on CloudFlare? Please enable TLS on GitHub Pages and switch to strict SSL on CloudFlare (or just host directly on GitHub Pages, now that it supports SSL).

Edit: While I am getting HTTPS, the screenshot doesn't, so I am guessing the SSL is set to Basic on CloudFlare end?

[2022-01-06 17:55] captn3m0 commented on #254
A thread on how this gets blocked in India: https://mobile.twitter.com/captn3m0/status/1468454402956533761

[2022-01-07 05:45] captn3m0 commented on #254
This can be validated by running a curl in the Digital Ocean BLR1 region:

``
curl -vvv http://neovim.io
* Rebuilt URL to: http://neovim.io/
*   Trying 104.21.46.99...
* TCP_NODELAY set
* Connected to neovim.io (104.21.46.99) port 80 (#0)

< HTTP/1.1 200 OK
< Date: Fri, 07 Jan 2022 05:43:15 GMT
< Content-Type: text/html
< Transfer-Encoding: chunked
< Connection: keep-alive
< pragma: no-cache
< cac

[2022-01-07 15:24] captn3m0 commented on #254
Wrote a letter to CloudFlare detailing the issue: https://github.com/captn3m0/hello-cloudflare

[2022-01-08 08:15] JeffHochberg commented on #254
Switch from using GitHub Pages to Cloudflare Pages. You can connect your CF instance to GitHub Pages or GitHub repositories and Cloudflare Pages will automatically kick off a build each time you commit changes to your repositories.

[2022-03-04 13:52] Incblob opened #261 "-u flag init change not acknowledged in nvim"
# Problem:
when using the -u flag to point to a different init.vim file, nvim (I think) loads the correct file, but this is not acknowledged in either `:checkhealth` nor does `:e $MYVIMRC` point to it.

This makes it difficult to know if it's actually loading a different config, or if changes to the config are loaded. This is especially true if you are loading variations of the config file for tes

[2022-03-04 14:12] gpanders commented on #261
This is the issue tracker for the Neovim website. To file an issue against Neovim itself use https://github.com/neovim/neovim

[2022-03-04 14:26] Incblob commented on #261
whoops

[2022-03-04 14:26] #261 closed

[2022-03-13 21:55] Arhell opened #262 "content goes outside the container on tablet"
![Screenshot_2](https://user-images.githubusercontent.com/26163841/158076084-4b8cc363-c74b-4e11-8183-aaa04ef01b40.png)

[2022-03-14 13:18] HaxtonFale opened #264 "Documentation file is hard to read"
This is what the docs look for me on Firefox in what seems to be dark mode. The combination of thin strokes used by the font and contrast between background and text colours makes it hard to read. Would it be possible to use a font that is larger or thicker?
![image](https://user-images.githubusercontent.com/1911208/158179416-fbb22713-3e1f-420d-8df5-115db1f945b1.png)

[2022-03-14 22:59] #262 closed

[2022-03-19 08:35] Arhell opened #265 "Accessibility update link"
![Screenshot_1](https://user-images.githubusercontent.com/26163841/159114036-c490e61c-5023-4ec6-a128-bac689861f3c.png)

[2022-03-19 17:45] jamessan commented on #265
@Arhell You'll need to provide more information than just a screenshot.  I have no idea what's wrong based on a picture.

[2022-03-19 17:49] jamessan commented on #264
Can you provide concrete suggestions on what you would like to change (e.g., changes to the CSS)? Does increasing the text zoom on the page make it more readable for you?

The text is perfectly readable to me, so I need your help to determine what and how things can be improved.

[2022-03-19 22:42] Arhell commented on #265
**link-name**
Links must have accessible names.

**Why it matters**
An accessible name is a word or phrase coded in a way that assistive technologies can associate it with a specific user interface object. Assistive technologies can then refer to the object by name, not just by type. When a link doesn’t have an accessible name, people who use assistive technologies have no way of knowing its purpo

[2022-03-21 15:36] #265 closed

[2022-03-22 09:05] HaxtonFale commented on #264
I would suggest a clearer monospaced font, with thicker strokes, such as Fira Code. That would probably be enough.

[2022-04-15 15:18] rockerBOO commented on #264
The font is the default `monospace` font used in your browser, so you could change it to be a font you like.  Adding additional fonts to download adds more to the page as well as prevents people from using a font they like to use.

Example for me with a font I set as default monospace font on my computer.

![Screenshot 2022-04-15 at 11-16-43 Nvim documentation help](https://user-images.githubuserc

[2022-04-16 14:24] #264 closed

[2022-04-16 15:34] #253 closed

[2022-06-10 21:35] leonbrandt opened #284 "Sponsors page: original fundraisers"
You might want to remove the link to ryandurk[dot]com on https://neovim.io/sponsors

[2022-06-12 17:35] #284 closed

[2022-08-30 06:01] R00dRallec opened #287 "Wrong hyperlink for 0.8 roadmap milestone"
On the [Roadmap page](https://neovim.io/roadmap/), the hyperlink for [0.8+](https://github.com/neovim/neovim/milestone/28) links to Github milestone 0.9.

Shouldn't it link to Github milestone 0.8 --> https://github.com/neovim/neovim/milestone/32 ?

[2022-08-30 12:17] #287 closed

[2022-08-30 12:17] justinmk commented on #287
Thanks!

[2022-08-30 12:18] justinmk commented on #254
@captn3m0 is this still an issue?

[2022-09-01 18:10] captn3m0 commented on #254
Doesn't look like it (I can't replicate it) but its hard to be certain since the blocking was always intermittent

[2022-09-07 21:33] justinmk opened #288 "style / css: request for improvements / help"
## Problems with current style

see screenshot example below

* normal text is smaller than code ("preformatted") text
* the current default font is hard / uncomfortable to read. Appears to be `--serif-fonts: Lato, Cambria, Garamon, Palatino, P052, serif;` from `main.css`.
    * Disabling that falls back to the bootstrap default?

<img width="604" alt="image" src="https://user-images.githubusercon

[2022-09-18 18:27] #254 closed

[2022-09-18 18:31] justinmk opened #289 "newsletter sept 2022"
items to include in the newsletter:

- **export all tweets to markdown format** from https://twitter.com/neovim since the last major release
- items mentioned in:  https://www.reddit.com/r/neovim/comments/xft3jw/08_feature_freeze_and_preliminary_release_date/
    - check out vim.fs module for filesystem operations, which will later be used by lspconfig for project detection.
    - using ex command

[2022-09-22 14:03] #96 closed

[2022-09-22 14:03] #97 closed

[2022-09-23 14:48] justinmk commented on #53
Style is now fully defined in the neovim/neovim repo in `src/uncrustify.cfg` and `:help dev-style`

[2022-09-23 14:48] #53 closed

[2022-09-23 14:50] #247 closed

[2022-10-01 19:42] kirillbobyrev opened #293 "Add 0.8 to the Roadmap section"
https://neovim.io/roadmap/ should mention 0.8 as completed.

[2022-10-02 08:16] Roshanjossey opened #295 "[Bug]: styles for hover state for sponsors logo can be improved"
**Problem**

hover effect on Sponsors logo
![neovim-sponsor](https://user-images.githubusercontent.com/8488446/193444531-614784b3-d6f7-43c6-930f-f3b2de92ca5b.gif)

**Reason**

anchor tag has display: inline style as default.

**Solution**

add style `display: block`

![neovim-sponsor-block](https://user-images.githubusercontent.com/8488446/193444786-8980124a-d66c-4016-ae84-e81db419226c.gif)

We co

[2022-10-02 21:54] #293 closed

[2022-10-02 22:15] justinmk commented on #237
This is fixed in the new HTML generator, https://github.com/neovim/neovim/pull/11967  you can preview the results at user2/ :

https://neovim.io/doc/user2/lsp.html

This is not "live" at the main docs path yet (user/), but will be in the next week or 2.

[2022-10-02 22:15] #237 closed

[2022-10-02 22:18] justinmk commented on #98
This is enforced by our auto-formatter now:

https://github.com/justinmk/neovim/blob/4b5ef0ff0aacff2d763f13fe50f9c2e97ffafd17/src/uncrustify.cfg#L3200

[2022-10-02 22:18] #98 closed

[2022-10-02 22:21] justinmk commented on #295
Thanks for figuring out the issue here, it was bugging me :)

I'm also open to thinking about an improved border style or color for normal text links, for both light/dark mode--we need perhaps a different, or additional/complementary border style for special things in the user docs: https://neovim.io/doc/user2

[2022-10-02 22:33] #295 closed

[2022-10-03 00:52] Roshanjossey opened #296 "404s, bad hosts, timeouts for URLs"
I did a check with [brokenlinkcheck.com](https://www.brokenlinkcheck.com/) for this website and got the followingresults. Some of these might be worth checking and updating.

| # | URL | link text | response |
|---|---|---|---:|
| 1	| http://neovim.io/doc/user/vim.html | vim.in_fast_event() |404 |
| 2	| http://neovim.io/doc/user/init.html | init.vim | 404 |
| 3	| http://neovim.io/doc/user/man.html

[2022-10-03 01:11] Roshanjossey commented on #295
I did some reading around accessibility of links and using image as link content and came across this https://github.com/a11yproject/a11yproject.com/issues/1344. So, I think it's a good idea to change alt text to explicitly state that it's a link.

For styling image links, doing a brightness filter could a good effect.

I didn't understand what special things in that page was. Could you please ela

[2022-10-03 19:30] justinmk commented on #295
Things like `<code>`, `<pre>` and special highlights for strings like `CTRL-x`, `TODO` and other symbols found in `:help`. See https://github.com/neovim/neovim.github.io/issues/288

[2022-10-03 19:33] justinmk commented on #296
useful, thanks. All of the `http://` (not https) URLs are also flagged by automation (but currently doesn't fail CI because we need to fix the links...): https://github.com/neovim/neovim/blob/56998feebd6f7ec0ab68e44cba3425bf39d448b4/scripts/gen_help_html.lua#L314-L317

[2022-10-05 06:27] haolian9 opened #297 "the TOC is not scrollable in v2"
to reproduce:
* open [this page](https://neovim.io/doc/user/lua.html) in a browser
* open the "developer tools" and resize it until the TOC is longer than the window (this helps to emulate how the page is showed in laptops)

i found this css changes can help this situation.
[code]

[2022-10-05 09:49] justinmk commented on #297
Thanks for suggesting that fix! The css class is here if you want to send a PR: https://github.com/neovim/neovim/blob/06f4edc864479fb121d514ec1e7253dba85b740d/scripts/gen_help_html.lua#L752

[2022-10-21 16:37] rockerBOO opened #299 "jekyll errors when running serve locally"
`jekyll` was having issues building locally on 3.9.0.

[code]

 3.9.2 they removed the `pathutil` dependency and it starts up properly.

[2022-10-21 17:05] #299 closed

[2022-11-23 08:41] clason opened #302 "Use `highlight.js` for syntax highlighted code blocks?"
see https://github.com/neovim/neovim/pull/21154/commits/d1beb9016cdfe2c589343e4808c292b0adebdc68

We don't need the whole package but can cherry pick just the three or four languages we need (Lua, Vim, C, Python; unfortunately, Vim is not in the bundle that is distributed via CDN, so we need to install it locally).

We also probably need to write/adapt the style to match the current site theme as

[2022-11-26 19:49] arruah opened #306 "Bitcoin Cash donation address"
Hello please add Bitcoin Cash (BCH) donation address.

[2022-11-29 11:03] clason commented on #306
Isn't that already listed at the bottom of https://neovim.io?

[2022-11-30 13:47] arruah commented on #306
No there are donation address for Bitcoin (BTC)